.dot{
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background-color: yellow;
   
}

.dot:hover{
    background-color: white;
    transition: all 1s ease-in-out;
    
}

@keyframes
