.text-box{
    width: 800px;
    display:flex;
    justify-content: space-evenly;

}

.text {
    font-size: 60px;
    
   
}

.text:hover {
    color: white;
    transition: all 1s ease-in-out; 
}

@keyframes
